<h1>Names</h1>

<h2>Last Name: <%= last_name %></h2>

<h2>First Names</h2>
<ul>
  <% first_names.each do |first_name| %>
    <li><%= first_name %></li>
  <% end %>
</ul>

<h2>Middle Names</h2>
<ul>
  <% middle_names.each do |middle_name| %>
    <li><%= middle_name %></li>
  <% end %>
</ul>